<% 
  states_for_select = Post.aasm_states.collect{ |state| [t(state.name, :scope => [:post,:states]),state.name.to_s] }
  output = {
    :iTotalDisplayRecords => @posts.total_entries || 0,
    :aaData => @posts.collect do |post|
      link_id = "post_#{post.id}"
      [
        content_tag(:div, '<div class="handler"></div><div class="small-icons post"></div>', :id => link_id, :class => 'handler_container'),
        content_tag(:div, link_to(post.name, [:admin, post]), :class => 'product-name'),
        post.author ? post.author.fullname : '-',
        select_tag(:status, options_for_select(states_for_select,post.state), :class => 'published'),
        post.published_at ? post.published_at.to_s(:db) : '-',
        link_to('', [:edit, :admin, post], :class => 'small-icons edit-link') +
        link_to_remote('', :url => [:admin, post],
         :method => :delete,
         :confirm => t('post.destroy.confirm').capitalize,
         :success => "removedataTablesRow('#destroy_#{link_id}')",
         :html => {
         :class => 'small-icons destroy-link', :id => "destroy_#{link_id}"
        })
      ]
    end
  }
-%>
<%= output.to_json -%>
